//colors

$link-buttons: rgba(255,255,255,.5);
$hover-link-buttons:rgba(255,255,255,.3);

$blue: #33C3F0;
$blue-link-hover:#1EAEDB;

$column-links: rgb(215, 143, 97);
$hover-column-links: rgb(255, 207, 130);

$black: #000;
$white: #fff;
$gray: rgba(0,0,0,.1);

//font-family

$basic-font: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

//rounded

$rounded: 4px;

//linear-gradient colors

$first-color: rgba(112, 64, 245, 0.8);
$second-color: rgba(181, 198, 245, 0.8);

//multiple images

$banner-image: url(../images/photo/slika77.jpg) no-repeat center center;